{% extends "layout.html" %}
{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="container py-5 mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="glass p-5 rounded-4 shadow-lg reveal">
        <h2 class="text-center mb-4 text-gradient">Get in Touch</h2>
        <form>
          <div class="row g-4">
            <div class="col-md-6">
              <div class="form-floating">
                <input type="text" class="form-control" id="name" placeholder="Your Name">
                <label for="name">Full Name</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <input type="email" class="form-control" id="email" placeholder="Email">
                <label for="email">Email Address</label>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <input type="text" class="form-control" id="subject" placeholder="Subject">
                <label for="subject">Subject</label>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <textarea class="form-control" placeholder="Message" id="message" style="height: 150px"></textarea>
                <label for="message">Your Message</label>
              </div>
            </div>
            <div class="col-12 text-center">
              <button type="submit" class="btn btn-primary btn-lg px-5">Send Message</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}